
/* Set a default font size and line height */
html {
  font-size: 16px;
  line-height: 1.5;
}

/* Add some padding to the body */
body {
  padding: 20px;
}

.row-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

/* Center the main content */
.main-content {
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
}

.component {
  margin-bottom: 20px; /*Add space between components */
}

.component h1{
  justify-content: left;
  height: 40px;
  margin-bottom: 10px;
}

.task-list-container {
  width: 686px;
  height: 221px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  justify-content: space-evenly;
}

.task-item {
  width: 191px;
  height: 166px;
  flex-shrink: 0;
  scroll-snap-align: center;
  background-color: white;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  position: relative;
}

.task-item:last-child {
  margin-right: 0;
}

.task-item h4 {
  text-align: center;
  position: absolute;
  width: 100%;
  z-index: 1;
  font-size: 14px;
}

.task-item-image {
  width: 191px;
  height: 166px;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  border-radius: 50%;
}

.guardians-container {
  width: 270px;
  height: 136px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
}

.guardian-item {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ccc;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.guardian-item h4{
  text-align: center;
  font-size: 14px;
}

.guardian-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.task-in-progress-container {
  width: 686px;
  height: 221px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  margin-top: 20px;
  justify-content: space-evenly;
}

.task-item-in-progress {
  width: 191px;
  height: 166px;
  flex-shrink: 0;
  scroll-snap-align: center;
  background-color: white;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  position: relative;
}

.task-item-in-progress:last-child {
  margin-right: 0;
}

.task-item-in-progress h4 {
  text-align: center;
  position: absolute;
  bottom: 125px;
  width: 100%;
  z-index: 1;
  font-size: 14px;
}

.task-item-in-progress-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  border-radius: 50%;
}

.upcoming-tasks-container {
  width: 263px;
  height: 262px;
  margin: 0 auto;
  margin-top: 20px;
}

.upcoming-task-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  margin-bottom: 10px;
  border-radius: 20px;
  font-size: 16px;
}

.upcoming-task-title {
  font-weight: bold;
}

.upcoming-task-description {
  margin-right: 10px;
}

.see-more-link {
  color: #ffa100;
  text-decoration: underline;
}

.see-more-link-large {
  color: #ffa100;
  font-size: 20px;
  line-height: 30px;
  text-decoration: underline;
  margin-left: 140px;
  margin-right: 20px;
}

#progress-title {
  margin-right: 170px;
}

#progress-title, .see-more-link-large {
  display: inline;
}

/* Responsive layout for small screens */
@media (max-width: 600px) {

  /* Stack components vertically */
  .component {
    margin-bottom: 40px;
  }
}
