/* Set a default font size and line height */
html {
  font-size: 16px;
  line-height: 1.5;
}

/* Add some padding to the body */
body {
  padding: 150px;
}
.row-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

/* Center the main content */
.main-content {
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
}

.search-bar {
  position: absolute;
  top: 0;
  left: 0;
  padding: 64px;
}

.search-bar input[type="text"] {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.search-bar input[type="text"]::placeholder {
  color: rgba(87, 87, 86, 0.8);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.search-bar input[type="text"]:hover,
.search-bar input[type="text"]:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}

.banner {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.banner-image {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.banner-text {
  flex: 1;
}

.banner-text h1 {
  font-size: 24px;
  margin: 0;
}

.banner-text p {
  font-size: 16px;
  margin: 8px 0;
}


.component {
  margin-bottom: 20px;
}

.component h1{
  justify-content: left;
  height: 40px;
  margin-bottom: 10px;
}

/* Container for the task list */
.task-list-container {
  width: 686px;
  height: 221px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

/* Individual task items */
.task-item {
  width: 191px;
  height: 166px;
  flex-shrink: 0;
  scroll-snap-align: center;
  background-color: white;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.122);
  border-radius: 20px;
}

/* Removes the margin from the last task item */
.task-item:last-child {
  margin-right: 0;
}

/* Container for guardians */
.guardians-container {
  width: 270px;
  height: 136px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
}

/* Individual guardian items */
.guardian-item {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ccc;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.039);
}

.guardian-item h4{
  text-align: center;
}

.task-in-progress-container {
  width: 686px;
  height: 221px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  margin-top: 20px;
}

.task-item-in-progress {
  width: 191px;
  height: 166px;
  flex-shrink: 0;
  scroll-snap-align: center;
  background-color: white;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.122);
  border-radius: 20px;
}

/* Removes the margin from the last task item */
.task-item-in-progress:last-child {
  margin-right: 0;
}

/* Container for upcoming tasks */
.upcoming-tasks-container {
  width: 263px;
  height: 262px;
  margin: 0 auto;
  margin-top: 20px;
}

/* Upcoming task items */
.upcoming-task-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.137);
  margin-bottom: 10px;
}

/* Upcoming task title */
.upcoming-task-title {
  font-weight: bold;
}

/* Upcoming task description */
.upcoming-task-description {
  margin-right: 10px;
}

/* See more link */
.see-more-link {
  color: rgb(232, 135, 8);
  text-decoration: underline;
}

/* Responsive layout for small screens */
@media (max-width: 600px) {

  /* Stack components vertically */
  .component {
    margin-bottom: 40px;
  }
}
