body,
html {
  margin: 0;
  padding: 0;
}

.landing {
  display: flex;
  width: 100vw;
  max-width: none !important;
  max-height: none !important;
  height: 100vh;
  margin: 0 !important;
  padding: 0% !important;
  background-color: white;
}

.left-container {
  flex: 0.5;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 50%;
  margin-left: 3%;
  margin-right: 5%;
}

.left-container h1,
.left-container h3,
.left-container p {
  margin: 8px 0;
}

.right-container {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3%;
  background-color: #fd7200;
}

.image-placeholder {
  width: 500px;
  height: auto;
  aspect-ratio: 1/1;
  background-image: url("../assets/loginImage.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.buttons button {
  text-decoration: none;
  margin-right: 20px;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  transition: ease-in-out 0.15s;
  font-size: large;
  font-weight: bold;
  margin-top: 10px;
}


.login-button {
  background-color: #fd7200;
  color: #ffffff;
  border: none;
}

.register-button {
  border: 2px solid #fd7200;
  color: #fd7200;
  background-color: #ffffff;

}

.login-button:hover {
  background-color: #ff8b2d;
  border: none;
}

.register-button:hover {
  border: 2px solid #ff8b2d;
  color: #ff8b2d;
  background-color: white;
}

.left-container h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #000000;
}
