.login {
  max-width: 800px;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.login-form input {
  width: 300px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 5px;
}

.submit-btn button {
  margin: 20px;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #0089c9;
  padding: 5px;
  background-color: #0089c9;
  cursor: pointer;
  transition: ease-in-out 0.15s;
  font-size: large;
  font-weight: bold;
  color: rgb(243, 243, 243);
}

button:hover {
  background-color: #10abff;
  border: 2px solid #10abff;
}

.register-btn a {
  text-decoration: none;
  color: #0089c9;
  font-weight: normal;
  transition: ease-in-out 0.15s;
}

.register-btn a:hover {
  color: #43bdff;
}

.remember-me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.remember-me input {
  width: 15px;
  height: 15px;
}

.password-wrapper {
  position: relative;
  display: inline-block;
}

input[type="text"],
input[type="password"] {
  padding-right: 5px;
}

.password-visibility {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #0089c9;
  outline: none;
}

.password-visibility:hover {
  color: #10abff;
}
