.container {
  width: 350px;
  max-width: 90%;
  height: 350px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.33);
  box-shadow: 0px 8px 32px 0 rgba(0, 0, 255, 0.23);
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  padding: 25px;

}

h2 {
  color: rgb(228, 148, 0);
  font-size: 30px;
  font-weight: bolder;

}

.login {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  background-color: rgb(255, 123, 0);
  background-image: url("./public/starredbg.jpg");
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}



.login-form input {
  width: 300px;
  height: 30px;
  border: none;
  padding: 5px;
  border-bottom: 2px solid #ffffff;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  outline: none;
  font-size: large;
  font-weight: bold;
}

.login-form input::placeholder {
  color: black;
  font-size: large;
  font-weight: bold;
}

.submit-btn button {
  margin: 20px;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #fd7200;
  padding: 5px;
  background-color: #fd7200;
  cursor: pointer;
  transition: ease-in-out 0.15s;
  font-size: large;
  font-weight: bold;
  color: rgb(243, 243, 243);
}

button:hover {
  background-color: #ff8b2d;
  border: 2px solid #ff8b2d;
}

.register-btn a {
  text-decoration: none;
  color: #0089c9;
  font-weight: bold;
  transition: ease-in-out 0.15s;
}

.register-btn a:hover {
  color: #43bdff;
}

.remember-me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.remember-me input {
  width: 15px;
  height: 15px;
}

.password-wrapper {
  position: relative;
  display: inline-block;
}

input[type="text"],
input[type="password"] {
  padding-right: 5px;
}

.password-visibility {
  position: absolute;
  right: 13px;
  top: 52%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #0089c9;
  outline: none;
  font-size: 13px;
  transition: ease-in-out 0.15s;
}

.password-visibility:hover {
  color: #10abff;
}

.title {
  margin-top: 80px;
}

.register-btn {
  font-weight: bold;
}
