.register {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  background-color: rgb(255, 123, 0);
  background-image: url("../assets/loginBackground.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

@media (max-width: 1600px) {
  .register {
    background-size: cover;
  }
}

.container {
  width: 350px;
  max-width: 90%;
  height: 350px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.33);
  box-shadow: 0px 8px 32px 0 rgba(0, 0, 255, 0.23);
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  padding: 25px;
}

h2 {
  color: rgb(228, 148, 0);
  font-size: 30px;
  font-weight: bolder;

}

.register-btn button {
  margin: 20px;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #fd7200;
  padding: 5px;
  background-color: #fd7200;
  cursor: pointer;
  transition: ease-in-out 0.15s;
  font-size: large;
  font-weight: bold;
  color: rgb(243, 243, 243);
}

.footer p {
  font-weight: bold;
}


.footer a {
  text-decoration: none;
  color: #0089c9;
  font-weight: bold;
  transition: ease-in-out 0.15s;
}

.footer a:hover {
  color: #43bdff;
}

.temp a {
  color: black;
}

.password-wrapper {
  position: relative;
  display: inline-block;
}

input[type="text"],
input[type="password"] {
  padding-right: 5px;
}

.password-visibility {
  position: absolute;
  right: 13px;
  top: 52%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #0089c9;
  outline: none;
  font-size: 13px;
  transition: ease-in-out 0.15s;
}

.password-visibility:hover {
  color: #10abff;
}

button:hover {
  background-color: #ff8b2d;
  border: 2px solid #ff8b2d;
}
