.register-btn button {
  margin: 20px;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #0089c9;
  padding: 5px;
  background-color: #0089c9;
  cursor: pointer;
  transition: ease-in-out 0.15s;
  font-size: large;
  font-weight: bold;
  color: rgb(243, 243, 243);
}

.register-btn button:hover {
  background-color: #333333;

}

.footer a {
  text-decoration: none;
  color: #0089c9;
  font-weight: normal;
  transition: ease-in-out 0.15s;
}

.footer a:hover {
  color: #43bdff;
}

.temp a {
  color: black;
}
