.register-btn button {
  margin: 20px;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #0089c9;
  padding: 5px;
  background-color: #0089c9;
  cursor: pointer;
  transition: ease-in-out 0.15s;
  font-size: large;
  font-weight: bold;
  color: rgb(243, 243, 243);
}

.register-btn button:hover {
  background-color: #333333;

}

.footer a {
  text-decoration: none;
  color: #0089c9;
  font-weight: normal;
  transition: ease-in-out 0.15s;
}

.footer a:hover {
  color: #43bdff;
}

.temp a {
  color: black;
}

.password-wrapper {
  position: relative;
  display: inline-block;
}

input[type="text"],
input[type="password"] {
  padding-right: 5px;
}

.password-visibility {
  position: absolute;
  right: 13px;
  top: 52%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #0089c9;
  outline: none;
  font-size: 13px;
  transition: ease-in-out 0.15s;
}

.password-visibility:hover {
  color: #10abff;
}
