body {
  background-color: #ECEFF1;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
